#project {
    display: flex;
    grid: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;

}
#project > article{
    padding: 10px;
    box-sizing: border-box;
    background-color: #07131b;
    color: white;
    border-radius: 8px;
}
#project > article > .screenshots > img {
    width: 100%;
}

#project > article > .info{
  margin-top: 10px;
}
#project > article > .info > .name {
    font-weight: 700;
    font-size: 18px;
}
#project > article > .info > .description {
    font-size:  14px;
}
#project > article > .info > a{
    padding: 5px 15px;
    margin-top: 15px;

    background-color: #31c4e9;
    border-radius:  100px;
    color: white;

    display: inline-flex;
    float: right;
}
